@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  /* Custom scrollbar styles for default variant */
  .scrollbar-default::-webkit-scrollbar {
    width: 5px;
  }

  .scrollbar-default::-webkit-scrollbar-thumb {
    background-color: #e8cfb5;
    border-radius: 2px;
  }

  .scrollbar-default::-webkit-scrollbar-track {
    background: #74604b;
    border-radius: 2px;
  }

  /* Custom scrollbar styles for decor variant */
  .scrollbar-decor::-webkit-scrollbar {
    width: 5px;
  }

  .scrollbar-decor::-webkit-scrollbar-thumb {
    background-color: #e8cfb5;
    border-radius: 2px;
  }

  .scrollbar-decor::-webkit-scrollbar-track {
    background: #0a0a0a;
    border-radius: 2px;
  }

  @supports not selector(::-webkit-scrollbar) {
    .scrollbar-decor {
      scrollbar-width: thin;
      scrollbar-color: #e8cfb5 #0a0a0a;
    }
  }

  @supports not selector(::-webkit-scrollbar) {
    .scrollbar-default {
      scrollbar-width: thin;
      scrollbar-color: #e8cfb5 #74604b;
    }
  }

  .package-clip {
    clip-path: polygon(
      68.798% 0.264%,
      68.798% 0.264%,
      68.734% 0.216%,
      68.665% 0.172%,
      68.59% 0.133%,
      68.511% 0.099%,
      68.428% 0.069%,
      68.342% 0.045%,
      68.252% 0.025%,
      68.16% 0.011%,
      68.066% 0.003%,
      67.97% -0%,
      31.875% -0%,
      31.875% -0%,
      31.778% 0.003%,
      31.684% 0.011%,
      31.591% 0.026%,
      31.501% 0.045%,
      31.414% 0.07%,
      31.33% 0.1%,
      31.251% 0.135%,
      31.176% 0.175%,
      31.107% 0.219%,
      31.043% 0.268%,
      26.411% 4.129%,
      26.411% 4.129%,
      26.347% 4.178%,
      26.277% 4.222%,
      26.202% 4.262%,
      26.123% 4.296%,
      26.04% 4.326%,
      25.953% 4.351%,
      25.863% 4.371%,
      25.77% 4.385%,
      25.675% 4.394%,
      25.579% 4.397%,
      1.039% 4.397%,
      1.039% 4.397%,
      0.865% 4.406%,
      0.7% 4.433%,
      0.547% 4.477%,
      0.407% 4.536%,
      0.282% 4.608%,
      0.175% 4.692%,
      0.088% 4.786%,
      0.024% 4.89%,
      -0.017% 5.001%,
      -0.031% 5.117%,
      -0.031% 99.172%,
      -0.031% 99.172%,
      -0.017% 99.288%,
      0.024% 99.399%,
      0.088% 99.503%,
      0.175% 99.597%,
      0.282% 99.681%,
      0.407% 99.753%,
      0.547% 99.812%,
      0.7% 99.856%,
      0.865% 99.883%,
      1.039% 99.892%,
      98.899% 99.892%,
      98.899% 99.892%,
      99.073% 99.883%,
      99.238% 99.856%,
      99.391% 99.812%,
      99.531% 99.753%,
      99.656% 99.681%,
      99.763% 99.597%,
      99.85% 99.503%,
      99.914% 99.399%,
      99.955% 99.288%,
      99.969% 99.172%,
      99.969% 5.117%,
      99.969% 5.117%,
      99.955% 5.001%,
      99.914% 4.89%,
      99.85% 4.786%,
      99.763% 4.692%,
      99.656% 4.608%,
      99.531% 4.536%,
      99.391% 4.477%,
      99.238% 4.433%,
      99.073% 4.406%,
      98.899% 4.397%,
      74.323% 4.397%,
      74.323% 4.397%,
      74.227% 4.394%,
      74.133% 4.385%,
      74.041% 4.371%,
      73.951% 4.352%,
      73.865% 4.327%,
      73.782% 4.298%,
      73.703% 4.263%,
      73.628% 4.224%,
      73.559% 4.18%,
      73.495% 4.132%,
      68.798% 0.264%
    );
  }
}
