@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  /* Custom scrollbar styles for default variant */
  .scrollbar-default::-webkit-scrollbar {
    width: 5px;
  }

  .scrollbar-default::-webkit-scrollbar-thumb {
    background-color: #e8cfb5;
    border-radius: 2px;
  }

  .scrollbar-default::-webkit-scrollbar-track {
    background: #74604b;
    border-radius: 2px;
  }

  /* Custom scrollbar styles for decor variant */
  .scrollbar-decor::-webkit-scrollbar {
    width: 5px;
  }

  .scrollbar-decor::-webkit-scrollbar-thumb {
    background-color: #e8cfb5;
    border-radius: 2px;
  }

  .scrollbar-decor::-webkit-scrollbar-track {
    background: #0a0a0a;
    border-radius: 2px;
  }

  @supports not selector(::-webkit-scrollbar) {
    .scrollbar-decor {
      scrollbar-width: thin;
      scrollbar-color: #e8cfb5 #0a0a0a;
    }
  }

  @supports not selector(::-webkit-scrollbar) {
    .scrollbar-default {
      scrollbar-width: thin;
      scrollbar-color: #e8cfb5 #74604b;
    }
  }

  .package-clip {
    clip-path: polygon(
      14.933% 0%,
      84.683% 0%,
      99.799% 99.355%,
      0% 99.355%,
      14.933% 0%
    );
  }
}
