@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  /* Custom scrollbar styles for default variant */
  .scrollbar-default::-webkit-scrollbar {
    width: 5px;
  }

  .scrollbar-default::-webkit-scrollbar-thumb {
    background-color: #e8cfb5;
    border-radius: 2px;
  }

  .scrollbar-default::-webkit-scrollbar-track {
    background: #74604b;
    border-radius: 2px;
  }

  /* Custom scrollbar styles for decor variant */
  .scrollbar-decor::-webkit-scrollbar {
    width: 5px;
  }

  .scrollbar-decor::-webkit-scrollbar-thumb {
    background-color: #e8cfb5;
    border-radius: 2px;
  }

  .scrollbar-decor::-webkit-scrollbar-track {
    background: #0a0a0a;
    border-radius: 2px;
  }

  @supports not selector(::-webkit-scrollbar) {
    .scrollbar-decor {
      scrollbar-width: thin;
      scrollbar-color: #e8cfb5 #0a0a0a;
    }
  }

  @supports not selector(::-webkit-scrollbar) {
    .scrollbar-default {
      scrollbar-width: thin;
      scrollbar-color: #e8cfb5 #74604b;
    }
  }

  .package-clip {
    clip-path: polygon(
      14.933% 0%,
      84.683% 0%,
      99.799% 99.355%,
      0% 99.355%,
      14.933% 0%
    );
  }

  .main_clip {
    clip-path: polygon(
      0.049% -0.001%,
      99.98% -0.001%,
      99.98% 99.994%,
      68.768% 99.994%,
      68.768% 99.994%,
      68.805% 99.982%,
      68.838% 99.949%,
      68.864% 99.898%,
      68.885% 99.833%,
      68.899% 99.759%,
      68.906% 99.679%,
      68.905% 99.596%,
      68.897% 99.515%,
      68.879% 99.439%,
      68.852% 99.373%,
      63.428% 89.024%,
      63.428% 89.024%,
      63.42% 89.01%,
      63.413% 88.999%,
      63.405% 88.988%,
      63.396% 88.979%,
      63.388% 88.971%,
      63.379% 88.964%,
      63.37% 88.959%,
      63.361% 88.955%,
      63.352% 88.953%,
      63.343% 88.952%,
      36.734% 88.952%,
      36.734% 88.952%,
      36.725% 88.953%,
      36.716% 88.955%,
      36.707% 88.959%,
      36.698% 88.964%,
      36.689% 88.971%,
      36.681% 88.979%,
      36.672% 88.989%,
      36.664% 88.999%,
      36.656% 89.011%,
      36.649% 89.025%,
      31.29% 99.374%,
      31.29% 99.374%,
      31.264% 99.441%,
      31.246% 99.516%,
      31.237% 99.597%,
      31.237% 99.68%,
      31.244% 99.76%,
      31.258% 99.834%,
      31.279% 99.898%,
      31.305% 99.949%,
      31.338% 99.982%,
      31.375% 99.994%,
      0.049% 99.994%,
      0.049% -0.001%,
      63.498% 10.969%,
      68.857% 0.62%,
      68.883% 0.553%,
      68.901% 0.478%,
      68.91% 0.397%,
      68.91% 0.314%,
      68.903% 0.234%,
      68.889% 0.16%,
      68.868% 0.096%,
      68.841% 0.045%,
      68.809% 0.012%,
      68.772% 0%,
      68.772% 0%,
      31.379% 0%,
      31.342% 0.012%,
      31.309% 0.045%,
      31.282% 0.096%,
      31.262% 0.161%,
      31.248% 0.235%,
      31.241% 0.315%,
      31.241% 0.398%,
      31.25% 0.479%,
      31.268% 0.555%,
      31.295% 0.621%,
      31.295% 0.621%,
      36.719% 10.97%,
      36.727% 10.983%,
      36.734% 10.995%,
      36.742% 11.006%,
      36.751% 11.015%,
      36.759% 11.023%,
      36.768% 11.03%,
      36.776% 11.035%,
      36.785% 11.039%,
      36.794% 11.041%,
      36.804% 11.041%,
      36.804% 11.041%,
      63.413% 11.041%,
      63.422% 11.041%,
      63.431% 11.038%,
      63.44% 11.035%,
      63.449% 11.03%,
      63.458% 11.023%,
      63.466% 11.015%,
      63.475% 11.005%,
      63.483% 10.995%,
      63.49% 10.982%,
      63.498% 10.969%,
      63.498% 10.969%
    );
  }
}
